<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meibanlu.qa.service.mapper.UserAudiosBehaviorMapper">


    <!--<select id="getUserAudiosBehaviorByUserId"  resultType="com.meibanlu.qa.service.entity.UserAudiosBehavior">-->
           <!--SELECT * FROM UserAudiosBehavior where userId=#{userid}-->
    <!--</select>-->

    <insert id="shift">
        INSERT INTO UserAudiosBehavior
        (
            userId,originalLength,durationOfPlay,audiosid
        )
        VALUES (
            #{userId},
            #{originalLength},
            #{durationOfPlay},
            #{audiosId}
        )
    </insert>
</mapper>